*{
    font-family: 'Bebas Neue', cursive;
}
nav{
  background: rgba(0, 0, 0, 0.5);
}
#contactUsBtn{
    /* background-color: #E3F2FD; */
    background-color: #E3F2FD;
}
#otherNav-desktop-view,#shortDesc, #companies,p{
    font-family: 'Roboto', sans-serif;
}

#svg{
    z-index: 20;
}

#we{
    z-index: 40;
}

#circle{
        animation: heartbeat 20s ease-in-out infinite;
      }

      @keyframes heartbeat {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.1);
        }
        100% {
          transform: scale(1);
        }
}

#triangle, #pentagon{
        animation: rotate 20s linear infinite;
      }

      @keyframes rotate {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }

      #circle {
        -webkit-animation:grow 5s infinite;

      }

      @-webkit-keyframes grow {
       0% {
      -webkit-transform: scale( 1);-moz-transform: scale( 1 );-o-transform: scale( 1 );-ms-transform: scale( 0 );transform: scale( 0 );
        }
        10% {
          -webkit-transform: scale( 1);-moz-transform: scale( 1 );-o-transform: scale( 1 );-ms-transform: scale( 0 );transform: scale( 0 );
            }

          50% {
          -webkit-transform: scale( 1 );-moz-transform: scale( 1 );-o-transform: scale( 4 );-ms-transform: scale( 1 );transform: scale( 1 );
          }

        100% {
        -webkit-transform: scale( 1 );-moz-transform: scale( 1 );-o-transform: scale( );-ms-transform: scale( 0.8 );transform: scale( 0 );
        }
      }
      /* #laptop{
        z-index: 40;
      } */
